<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Perla & Jorge - Nuestra Boda!</title>
    <meta name="description" content="Queremos que seas parte de nuestro gran dia">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="Perla & Jorge - Nuestra Boda!">
    <meta property="og:description" content="Dic 19 2019">
    <meta property="og:image" content="https://perlayjorge.com/img/hero-min.jpg">
    <meta property="og:type" content="website">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/flexslider.css">
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="stylesheet" href="css/queries.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome1.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body id="top">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<section class="hero">
    <section class="navigation">
        <header>
            <div class="header-content">
                <div class="logo"><a href="#"><img src="img/logo.png" alt="Logo"></a></div>
                <div class="header-nav">
                    <nav>
                        <ul class="primary-nav">
                            <li><a href="#intro">Nuestra Historia</a></li>
                            <li><a href="#events">Eventos</a></li>
                            <li><a href="#instagram">Instagram</a></li>
                            <li><a href="#eng-pics">Galería</a></li>
                            
                        </ul>
                        <ul class="member-actions">
                            <li><a href="#map" class="login">Ubicación</li>
                            <li><a href="#rsvp" class="btn-white btn-small">Confirmación</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="navicon">
                    <a class="nav-toggle" href="#"><span></span></a>
                </div>
            </div>
        </header>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="hero-content text-center">
                    <!--<h1>Ram and Antara</h1>-->
                    <img src="img/logo-lg.png">
                    <!--<p class="intro">Ram & Antara are getting hitched!</p>-->
                    <!--<a href="#" class="btn btn-fill btn-large btn-margin-right">Scroll Down</a> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 hidden-xs"></div>
            <div class="col-sm-4 hidden-xs text-center"><a href="#rsvp"
                                                           class="btn btn-accent btn-large rsvp-btn">Confirmar</a></div>
            <div class="col-sm-4 hidden-xs"></div>
        </div>
    </div>
    <div class="down-arrow floating-arrow"><a href="#invitation"><i class="fa fa-angle-down"></i></a></div>
</section>

<section id="invitation" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>NOS CASAMOS!</h2>
                <h3>y nos gustaría fueras parte de nuestra <b>BODA</b></h3>
                <div class="share-bar"></div>
            </div>
        </div>
    </div>
</section>

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="header">Nuestra Historia</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 hidden-sm hidden-xs">
                <img src="img/j.jpg" class="wp1">
            </div>
            <div class="col-md-6">
                <p>
                    Nuestra historia empezó en un camino. Bastó un post en metroflog. Una tarde cualquiera nos conocimos. Nuestras vidas se cruzaron. Varios descuidos para volvernos a ver, un portal… Una madrugada del 21 de noviembre del 2009 supimos que siempre estaríamos juntos y decidimos ser novios. Así comenzó nuestra historia…

                        Compartimos tardes y noches. Paseos y risas. Algo mágico ocurrió cuando decidimos trazar una misma ruta y ya no nos quisimos volver a separar. Llegó el amor, del bueno y del grande. Luego, tras casi 9 años llenos de amor, risas, ilusiones, teles de 15” sofá y pelis, viajes… En una noche especial, en un acto de amor y valentía del 28 de Julio del 2018 junto a personas especiales, entregamos el corazón y el compromiso, con un anillo como símbolo, con el SÍ más deseado y esperado. NOS COMPROMETIMOS. Más que un compromiso, la promesa de permanecer una vida juntos. Los días no podían pasar sin pensar en el siguiente paso y decidimos casarnos por el civil después de sólo una semana, el 04 de Agosto del 2018 firmamos ante la ley nuestra unión y una vez más reafirmábamos el gran amor que compartimos. Prometimos que nunca estaríamos solos, que mi corazón sería tu refugio y mis brazos tu hogar.

                        Después de tantas aventuras juntos, no hemos podido ser más felices… y ahora queremos gritarlo a los cuatro vientos que NOS CASAMOS y celebraremos una gran fiesta y ceremonia religiosa ante Dios. Ahora queremos celebrar con ustedes. Que nos queda mucho por caminar y que seguimos tomados de la mano forjando nuestro camino hacia donde Dios nos dirige.

                        “Porque no hay una relación más amorosa, amistosa y encantadora que la unión o compañía de un buen matrimonio.”
                        Martin Luther King

                        Y que Dios bendiga nuestro amor.

                        P E R L A   &   J O R G E
                </p>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <img src="img/perla.jpg" class="wp2">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-push-2 col-xs-6 hidden-md hidden-lg"><img src="img/j.jpg" class="wp8"></div>
            <div class="col-sm-4 col-sm-push-2 col-xs-6 hidden-md hidden-lg"><img src="img/perla.jpg" class="wp9"></div>
        </div>
    </div>
</section>
<section class="events section-padding" id="events">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="header">Eventos</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 leftcol">
                <div class="wp3">
                    <p><strong>Ceremonia Religiosa</strong></p>

                    <h5>Parroquia Sagrado Corazón de Jesús<span class="time"> 6:00 PM</span></h5>
                    <p>Es bueno venir a Dios en oración, y presentarle nuestro matrimonio. Que en medio de las ocupaciones cotidianas, encontremos el momento
                       para admirar el regalo maravilloso de nuestro amor.
                    </p>
                    <p>Motivados por el amor que nos tenemos, con la alegría y con la bendición de Dios y nuestros padres:</p>
                        <p class="col-md-6">
                            Martha Olivia Méndez Urias <br>
                            Aureliano Norzagaray Rodriguez*
                        </p>   
                         <p class="col-md-6">
                            Norma Alicia Escalante Beltran <br>
                            Jorge Flores Arce *   

                        </p>     

                        <p>
                      Nos uniremos mediante el Sacramento del Matrimonio y nos complace invitarles a la ceremonia religiosa que tendra lugar
                      el próximo 19 de Diciembre 2019.
                      </p>
                       </div> 

                       
                         
                      
                <div class="wp5">
                    <h5>Javier Mina s/n, Centro, 81200<span class="">  Los Mochis, Sin., México</span></h5>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 rightcol">
                <div class="wp4">
                    <p><strong>Recepción</strong></p>

                    <h5>Dubai Salón de Eventos<span class="time"> 9:00 PM - 2:00 AM</span></h5>
                    <p>¡Genial! Ahora sólo nos falta celebrar con nuestros amigos y familiares hasta que el cuerpo aguante!! <i class="fas fa-beer"></i></p>
                    <p><b>No niños *</b></p>
                    <i class="fas fa-glass-cheers"></i>
                </div>
                <div class="wp6">
                    <h5>Blvrd Jiquilpan 2011, Los Pinos, 81247<span class=""> Los Mochis, Sin., México</span></h5>
                    <p>Agradecemos confirmar tu asistencia <a href="#rsvp" > aquí</a></p>
                </div>
            </div>
        </div>
        <div class="row section-padding">
            <div class="col-md-4 col-md-offset-4 text-center">
                <a class="btn btn-accent btn-small" data-toggle="modal" data-target="#dc-modal">
                    <i class="fa fa-barcode"></i>&nbsp;&nbsp;Código de Vestimenta
                </a>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-xs-12 section-border section-padding">
            </div>
        </div>-->
    </div>

    <div id="dc-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
                    </button>
                    <h3 class="text-center section-padding">Código de Vestimenta</h3>
                        <center>
                        <h3>Formal</h3>
                        </center>
                    <p> 
                        <center>
                            <img src="img/codigo.jpg" style="width: 300px; align-content: center;">
                        </center>
                         <h5>*Se sugiere vestir colores acorde a la temporada</h5>
                         <br>
                         <center>
                         <h5>Sabemos que lucirás <strong>¡fantástico!</strong><span class="time"> </span></h5>
                            </center>
                    </p>


                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</section>

<section id="instagram" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Una foto vale más que mil palabras</h2>
                <p>Ayúdanos a capturar los momentos más importantes con el hashtag
                    <a href="https://instagram.com/explore/tags/bodajorgeyperla/" target="_blank">#bodajorgeyperla</a>
                </p>
            </div>
        </div>
        <div class="row section-border wp7">
            <div class="col-md-4 col-md-offset-4">
                <img src="img/iphone_instagram.jpg">
            </div>
        </div>
    </div>
</section>

<section id="eng-pics" class="section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="header">Galería</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <a class="fancybox" rel="group" href="img/P1000106.JPG">
                    <div class="img-wrap">
                        <div class="overlay">
                            <i class="fa fa-search"></i>
                        </div>
                        <img src="img/P1000106.JPG" alt=""/>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a class="fancybox" rel="group" href="img/wedding_2.jpg">
                    <div class="img-wrap">
                        <div class="overlay">
                            <i class="fa fa-search"></i>
                        </div>
                        <img src="img/wedding_2.jpg" alt=""/>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a class="fancybox" rel="group" href="img/wedding_1_lg.jpg">
                    <div class="img-wrap">
                        <div class="overlay">
                            <i class="fa fa-search"></i>
                        </div>
                        <img src="img/wedding_1_sm.jpg" alt=""/>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a class="fancybox" rel="group" href="img/wedding_3.jpg">
                    <div class="img-wrap">
                        <div class="overlay">
                            <i class="fa fa-search"></i>
                        </div>
                        <img src="img/wedding_3.jpg" alt=""/>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a class="fancybox" rel="group" href="img/wedding_4.jpg">
                    <div class="img-wrap">
                        <div class="overlay">
                            <i class="fa fa-search"></i>
                        </div>
                        <img src="img/wedding_4.jpg" alt=""/>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a class="fancybox" rel="group" href="img/wedding_5.jpg">
                    <div class="img-wrap">
                        <div class="overlay">
                            <i class="fa fa-search"></i>
                        </div>
                        <img src="img/wedding_5.jpg" alt=""/>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row hidden-lg hidden-md hidden-xs">
            <div class="col-xs-12 section-border section-padding"></div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-12">
            <div class="diamond floating-logo">
                <img src="img/sketch-logo.png" alt="Sketch Logo">
                <div class="ring"></div>
            </div>
        </div>
    </div>-->
</section>

<section id="video-bg" class="hidden-sm hidden-xs">
    <div id="bgndVideo" class="player"
         data-property="{videoURL:'https://www.youtube.com/watch?v=j4UPGXsxJw0',containment:'#video-bg',autoPlay:true, mute:true, showControls:false, startAt:15, stopAt:220, opacity:2,quality:'hd720'}">
    </div>
    <div id="video-content">
        <h5>Los Mochis</h5>
        <p>Sinaloa, Mex.</p>
    </div>
</section>

<section id="map" class="section-padding">
    <div class="text-center">
        <h2>Cómo llegar</h2>
        <p>Es más fácil de lo que piensas !</p>
    </div>
    <div id="map-canvas"></div>
    <div id="map-content-wrapper" class="container pointer-events-none">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
                <div class="text-center">
                    <div id="btn-show-content" class="toggle-map-content pointer-events-auto">
                        <i class="fa fa-info-circle"></i>&nbsp;&nbsp; Mostrar Informacion
                    </div>
                </div>
                <div id="map-content" class="pointer-events-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Dubai Eventos Los Mochis</h5>
                            <p>Blvrd Jiquilpan 2011, Los Pinos, 81247 Los Mochis, Sin., Mexico</p>
                        </div>
                        <div class="col-md-6">
                            <h5>Tienes alguna duda?</h5>
                            <p><i class="fa fa-mobile"></i> <a href="tel://+919412345678">(668) 829 3335</a><br>
                                <i class="fa fa-mobile"></i> <a href="tel://+917123456789">(668) 162 8259</a></p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4" style="padding: 5px;">
                            <a class="btn btn-fill btn-small"
                               href="https://m.uber.com/ul/?action=setPickup&client_id=Yh7Dl6SjB56RY2JuuZF8ttVa6ryFV78W&pickup=my_location&dropoff[formatted_address]=Dubai%20Eventos%20Los%20Mochis%2C%20Los%20Pinos%2C%20Los%20Mochis%2C%20Sin.%20%2CMexico&dropoff[latitude]=25.8099397&dropoff[longitude]=-109.0013736"><i
                                    class="fa fa-taxi"></i>&nbsp;&nbsp;Uber</a>
                        </div>
                        <div class="col-md-4" style="padding: 5px;">
                            <a class="btn btn-fill btn-small"
                               href="https://goo.gl/maps/YUcK5vvhe9S2"><i
                                    class="fa fa-location-arrow"></i>&nbsp;&nbsp;GPS</a>
                        </div>
                        <div class="col-md-4" style="padding: 5px;">
                            <a class="btn btn-accent btn-small" id="btn-show-map"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Mostrar
                                mapa</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding" id="hotel-recomendation">
  <div class="text-center">
    <h2>Recomendaciones de Hospedaje</h2>
    <p>En Los Mochis puedes encontrar diferentes tipos de alojamiento, aquí tienes algunas sugerencias.</p>
  </div>

  <div class="row">
 <div class="col-md-1"></div>
   <div class="col-md-3">
    <div class="card">
        <img src="./img/best_western.jpg" alt="Avatar" style="width:100%">
        <div class="row">
            <div class="col-md-12">
            <h4 style="padding: 3px 16px;"><b>BEST WESTERN</b></h4>
            <div class="col-md-12">     <p style="position: initial;">Av Gral Álvaro Obregón No. 691,  America, 81200 Los Mochis, Sin., Mexico</p> </div>
           <form action="https://www.bestwestern.com/en_US/book/hotels-in-los-mochis/best-western-plus-los-mochis/propertyCode.70150.html" method="get" target="_blank">
            <button class="btn-fill rsvp-btn" style="margin: 12px; padding: 10px; border-radius: 2px;" target="_blank">Reservar
            </button>
            </form>
            </div>
        </div>
     </div>
    </div>
  <div class="col-md-3">
    <div class="card">
        <img src="./img/ibis.jpg" alt="Avatar" style="width:100%">
        <div class="row">
            <div class="col-md-12">
            <h4 style="padding: 3px 16px;"><b>Ibis</b></h4>
            <div class="col-md-12">     <p style="position: initial;">Blvrd Antonio Rosales 800, Jordán, 81220 Los Mochis, Sin., Mexico</p> </div>
           <form action="https://www.accorhotels.com/gb/hotel-9369-ibis-los-mochis/index.shtml" method="get" target="_blank">
            <button class="btn-fill rsvp-btn" style="margin: 12px; padding: 10px; border-radius: 2px;" target="_blank">Reservar
            </button>
            </form>
            </div>
        </div>
     </div>
    </div>
    <div class="col-md-3">
    <div class="card">
        <img src="./img/fiesta_inn.jpg" alt="Avatar" style="width:100%">
        <div class="row">
            <div class="col-md-12">
            <h4 style="padding: 3px 16px;"><b>Fiesta inn</b></h4>
            <div class="col-md-12">     <p style="position: initial;"> Blvd. Antonio Rosales No. 1435 Sur, Centro, 81240 Los Mochis, Sin., Mexico</p> </div>
           <form action="https://www.fiestainn.com/web/fiesta-inn-los-mochis" method="get" target="_blank">
            <button class="btn-fill rsvp-btn" style="margin: 12px; padding: 10px; border-radius: 2px;" target="_blank">Reservar
            </button>
            </form>
            </div>
        </div>
     </div>
    </div>
<div class="col-md-1"></div>
</div>

</section>

<!--ANGULAR RSVP-->
<section class="rsvp text-center" id="rsvp" ng-app="rsvp">
    <!-- PASO 1: Formulario de busqueda-->
    <div class="container" ng-controller="CtrlGuestSearch" >
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Qué esperas?</h3>
                <p>Apreciaremos puedas confirmar tu asistencia antes del 01 Dic 2019</p>
                <form id="rsvp-form" class="rsvp-form">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-input-group">
                                <i class="fa fa-user"></i>
                                <input id="sarchBox"name="filter" class="" ng-model="nametosearch" placeholder="Nombre/Apellido" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" id="alert-wrapper"></div>
                    </div>
                    <button class="btn-fill rsvp-btn" ng-click="SearchGuestByName()">Buscar</button>
                </form>
            </div>
        </div>
    </div>
    <!-- PASO 2: Lista de resultados de la busqueda anterior -->
    <div ng-controller="CtrlSearchResults" class="modal fade" tabindex="-1" role="dialog" id="SearchResultModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="document.getElementById('sarchBox').value = ''">×</span></button>
              <h3 class="modal-title">Lista de resultados</h3>
            </div>
            <div class="modal-body">

                <div class="section-padding">
                    <div class="alert alert-success alert-dismissible show" role="alert" ng-if="ShowSuccessAlert">
                        <strong>Hooray!</strong> Encontramos estas coincidencias.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-warning alert-dismissible show" role="alert" ng-if="ShowFailAlert">
                        <strong>Ooops!</strong> No se encontraron coicidencias. Intenta nuevamente
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <h4>Selecciona tu nombre para continuar</h4>
                    <ul>
                        <li ng-repeat="i in SearchResults">
                            <h3><a class="hov" ng-click="ShowGenerateCode(i)" >{{i.nombre}}&nbsp;{{i.primer_apellido}}</a>  </h3>
                        </li>
                    </ul>
                    <div id="add-to-cal"></div>
                </div>
               <p>*No estás en la lista? Intenta nuevamente <a href="#rsvp" onclick="$('#SearchResultModal').modal('hide');document.getElementById('sarchBox').value = ''">aquí</a></p>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- PASO 3: Mostrar modal para generar codigo de confirmacion -->
    <div ng-controller="CtrlGenerateCode" class="modal fade" tabindex="-1" role="dialog" id="GenerateCodeModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title">Obtener código de verificación</h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-dismissible show" role="alert" ng-if="ShowSuccessAlert">
                        <strong>Enviado!</strong> 
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-warning alert-dismissible show" role="alert" ng-if="ShowFailAlert">
                        <strong>Oooops! este no es el email/telefono que tenemos registrado</strong> intenta nuevamente
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="section-padding">
                    <h4>{{invitado.nombre}}&nbsp;{{invitado.primer_apellido}}</h4>
                    <div>
                        <p>Cómo desea validar su identidad?</p>
                        <form>
                            <div class="form-check">
                                <input type="checkbox" class="form-radio" ng-checked="radio_mail" ng-model="radio_mail" ng-change="MailChanged(radio_mail)" >
                                <label class="form-check-label">Email</label>
                                <input type="checkbox" class="form-radio" ng-checked="radio_tel" ng-model="radio_tel" ng-change="TelChanged(radio_tel)">
                                <label class="form-check-label">Teléfono</label>
                            </div>
                            <div class="form-group">
                                <center>
                                <input id="Codefilter" class="form-control" ng-model="Codefilter" style="width: 70%;" required>
                                 <small id="codeHelp" class="form-text text-muted">*Teléfono 10 dígitos.</small>
                                </center>
                            </div>
                            <button class="btn btn-fill btn-small" ng-click="GenerateValidationCode()" >Obtener código</button>
                        </form>
                    </div>
                </div>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- PASO 4: Mostrar modal para validar el codigo generado -->
    <div ng-controller="CtrlValidateCode" class="modal fade" tabindex="-1" role="dialog" id="ValidateCodeModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title">Validación</h3>
            </div>
            <div class="modal-body">
                <div class="section-padding">
                    <div class="alert alert-success alert-dismissible show" role="alert" ng-if="ShowSuccessAlert">
                        <strong>Correcto!</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-warning alert-dismissible show" role="alert" ng-if="ShowFailAlert">
                        <strong>Ooops!</strong> el código es invalido. Favor de verificar
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <h2>Te hemos enviado el código de validación</h2>
                    <form id="frm_confirmar_codigo">
                        <div class="form-group">
                            <center>
                            <input inputmode="numeric" type="text" class="form-control validation-code justify-content-center" ng-model="validation_code" name="codigo_confirmacion" aria-describedby="codeHelp" placeholder="·  ·  ·  ·">
                            <small id="codeHelp" class="form-text text-muted">Revisa tu correo o teléfono</small>
                            </center>
                        </div>
                        <button class="btn btn-fill btn-small" ng-click="ValidateCode()" >Validar código</button>
                    </form>
                    <p>No has recibido el código ? <a href="" onclick="$('#ValidateCodeModal').modal('hide');$('#GenerateCodeModal').modal('show');"> Generar nuevamente</a></p>
                </div>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- PASO 5: Mostrar modal con la lista de invitados -->
    <div ng-controller="CtrlInvitados" class="modal fade" tabindex="-1" role="dialog" id="InvitadosModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title">Confirmación de asistencia</h3>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <h4>Quién asistirá al evento?</h4>
                    </div>
                    <div class="alert alert-success alert-dismissible show" role="alert" ng-if="ShowSuccessAlert">
                        <strong>Invitacion confirmada! </strong>Gracias por confirmarnos tu asistencia.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-warning alert-dismissible show" role="alert" ng-if="ShowFailAlert">
                        <strong>No se han guardado los cambios </strong>Ha ocurrido un error al confirmar la invitacion
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-group" ng-if="invitado.invitacion_dinamica = true && invitado.invitados.length <= invitado.invitados_max -1">
                        <div class="form-group">
                            <label>Registrar invitado</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="nuevoInvitado.nombre"  placeholder="Nombre del invitado">
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary" ng-click="addInvitado()" >Agregar</button>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="i in invitado.invitados" >
                                   <input type="text" class="form-control" ng-model="i.nombre">
                                   <span class=""><input type="checkbox" class="form-checkbox" ng-checked="i.asistencia" ng-model="i.asistencia"></span>
                                   <button type="button" class="btn btn-danger" ng-click="removeInvitado(i)">Eliminar</button>
                              </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group" ng-if="invitado.invitacion_dinamica = false">
                         <ul class="list-group">
                           <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="i in invitado.invitados" >
                                <h5>{{i.nombre}}</h5>
                                <span class=""><input type="checkbox" class="form-checkbox" ng-checked="i.asistencia" ng-model="i.asistencia"></span>
                           </li>
                         </ul>
                   </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-fill btn-small" data-dismiss="modal" ng-click="ocultarAlertas()">Cerrar</button>
                <button type="button" class="btn btn-fill btn-small" ng-click="confirmar()" >Guardar</button>
                <p>*Marca la casilla izquierda para seleccionar</p>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- PASO 6 MOSTRAR ULTIMO MODAL CON MENSAJE DE CONFIRMACION -->
    <div class="modal fade" tabindex="-1" role="dialog" id="SucessModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header confirmacion">
          
            </div>
            <div class="modal-body">
                <h4>Gracias por confirmar tu asistencia!</h4>
            </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-fill btn-small" data-dismiss="modal" ng-click="ocultarAlertas()">Cerrar</button>
                <p>*Si tienes alguna pregunta envía un email <a href="mailto:info@perlayjorge.com">info@perlayjorge.com</a></p>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</section> <!-- ANGULAR END -->



<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center content">
                <span class="to-top-wrapper"><a href="#top" class="to-top"><i class="fa fa-angle-up"></i></a></span>
                <p>Creado por Jorge Flores con mucho <span class="fa fa-heart pulse2"></span> para Perla</p>
                    <p><span class="fa fa-tree" style="color: green;"></span> Apoyamos el medio ambiente con el uso de invitación electrónica     </p>
            </div>
        </div>

    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/jquery.mb.YTPlayer.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/vendor/ouical.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/scripts.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXNqm3ZL7KrN9RRUp80ioT1yuHmqZC1lc&callback=initMap"></script>
</body>
</html>
